<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<style type="text/css">
  		.title{
  			text-align: center;
  		}
  	</style>
    <h1 class="title"><%= title %></h1>
    <p>Lattitude : <%= lat %></p>
    <p>Longititude : <%= long %></p>
    <p>Voltage : <%= voltage %></p>
    <p>Current: <%= current %></p>
    <p>Driver Info: <%= driverName %></p>
    <p>Speed : <%= speed %></p>
  </body>
</html>
